<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MySharesHiibernateWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SaveShares</display-name>
    <servlet-name>SaveShares</servlet-name>
    <servlet-class>com.christy.controller.SaveSharesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveShares</servlet-name>
    <url-pattern>/save</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllShares</display-name>
    <servlet-name>GetAllShares</servlet-name>
    <servlet-class>com.christy.controller.GetAllSharesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllShares</servlet-name>
    <url-pattern>/get</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteShares</display-name>
    <servlet-name>DeleteShares</servlet-name>
    <servlet-class>com.christy.controller.DeleteSharesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteShares</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.christy.controller.SearchShares</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateShares</display-name>
    <servlet-name>UpdateShares</servlet-name>
    <servlet-class>com.christy.controller.UpdateSharesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateShares</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplaySelected</display-name>
    <servlet-name>DisplaySelected</servlet-name>
    <servlet-class>com.christy.controller.DisplaySelectedController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplaySelected</servlet-name>
    <url-pattern>/display</url-pattern>
  </servlet-mapping>
</web-app>